{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Product index</h1>

    <a href="{{ path('app_product_new') }}" class="btn btn-success add-button">Create new</a>

    <button class="btn btn-success add-button" data-bs-toggle="modal" data-bs-target="#addItemModal">
        Add new (not work)
    </button>

    <table class="table" id="product-list" data-url="{{ path('app_product_list') }}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="row">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="row">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ include('product/_modal_new.html.twig') }}
{{ include('product/_modal_edit.html.twig') }}

{% endblock %}
